.Navbar {
  background-color: rgb(255, 106, 0);
  display: flex;
  justify-content: space-between;
  padding: 1%;
  .logo {
    width: 100px;
  }
  .avatar {
    width: 100px;
    border-radius: 50%;
  }
}
