@import '../vars';

.Navbar {
  background-color: $primaryColor;
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 0px;
  .logo {
    width: 65px;
  }
  .avatar {
    width: 65px;
    border-radius: 50%;
  }
}
