.Pseudo {
  display: flex;
  margin: 100px 0px 100px 300px;
  .pseudo-image{
    width: 250px;
  }
  .pseudo-text{
    margin-left: 200px;
    h2 {
      font-size: 50px;
    }
    p {
      font-size: 20px;
    }
  }
  .progress-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .progress-bar {
      width: 300px;
      height: 30px;
      border: solid 2px black;
      margin:30px;
    .karma{
      width: 200px;
      height: 30px;
      background-color: red;
    }
    }
  }
  
  
}