@import '../vars';

.Sousmenu{
  display: flex;
  justify-content: center;
  height: 50px;
  .bouton-profil{
    width: 200px;
    height: 50px;
    font-size: 20px;
  }
  .active{
    button{
      background-color: $primaryColor ;
    }
  }
}