@import './vars';

body {
  margin: 0;
  padding: 0;
  color: $textColor;
}

/* Colors */
.primaryColor {
  color: $primaryColor;
}

.secondaryColor {
  color: $secondaryColor;
}

.greyColor {
  color: $greyColor;
}

.darkgreyColor {
  color: $darkgreyColor;
}


/* Forms */
