@import './vars';

/* Colors */
.primaryColor {
  color: $primaryColor;
}

.secondaryColor {
  color: $secondaryColor;
}

.greyColor {
  color: $greyColor;
}

.darkgreyColor {
  color: $darkgreyColor;
}


/* Forms */
